<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

<h1>Home Page</h1>

<div><h2><a href="/register">Registrazione</a></h2></div>
<div>
    <span th:text="${registrazione}"></span>
</div>
<div>
    <h2>Login:</h2>
    <form method="post" action="/login">


        Email
        <br>
        <input type="email" name="email">
        <br>

        Password
        <br>
        <input type="password" name="password">
        <br>

        <input type="submit" value="LOGIN">
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>