<!DOCTYPE html>

<html>
  <title> Laboratorio 05 </title>
  <meta charset="utf-8">
<head>
</head>

<body>

<!-- first toolbar -->
<mat-toolbar id="toolbar1">
  <mat-icon #matSideNav (click)="toggleForMenuClick()">menu</mat-icon>
  <a routerLink="/home" ><h2 id="title">Virtual Labs</h2></a>
  <span class="example-fill-remaining-space"></span>
  <span><button mat-raised-button color="primary" (click)="openDialog()">{{( logged == true )? 'Logout': 'Login'}}</button>
  </span>


</mat-toolbar>


<!-- second toolbar -->
<mat-toolbar id="toolbar2s">
    <h2 id="subject">{{getCurrentCourseFromURL()}}</h2>
</mat-toolbar>


<!-- side nav container -->
<mat-sidenav-container>

      <mat-sidenav mode="side" opened="true" position="start">
          <div class = "container">
              <mat-nav-list>
                <a routerLink="teacher/courses/applicazioni-internet/students">
                  <mat-list-item>
                    Applicazioni Internet
                  </mat-list-item>
                </a >
                <a  routerLink="teacher/courses/programmazione-di-sistema/students">
                  <mat-list-item>
                    Programmazione di Sistema
                  </mat-list-item>
              </a>
              </mat-nav-list>
          </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <nav mat-tab-nav-bar>
          <div *ngIf="this.router.url !== '/home'">
            <!-- sidenav content tab group -->
            <nav mat-tab-nav-bar>
              <a mat-tab-link routerLink="{{this.router.url.split('/').slice(0, this.router.url.split('/').indexOf('courses')+2).join('/')}}/students">
                <label>Studenti</label>
              </a>
              <a mat-tab-link routerLink="{{this.router.url.split('/').slice(0, this.router.url.split('/').indexOf('courses')+2).join('/')}}/groups">
                <label>Gruppi</label>
              </a>
              <a mat-tab-link routerLink="{{this.router.url.split('/').slice(0, this.router.url.split('/').indexOf('courses')+2).join('/')}}/vms">
                <label>Virtual Machines</label>
              </a>
            </nav>
          </div>

        </nav>
        <router-outlet></router-outlet>
      </mat-sidenav-content>

</mat-sidenav-container>

</body>

</html>
